:root {
  --accent-text-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --bg-title-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
  margin-top: 20px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {

margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: var(--main-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* =====Палитра цветов===== 
Логотип, акцент ховер #2196F3
Навигация основной цвет, h2 #212121;
Вторичный цвет навигация, параграфы #757575
Фон навигации, h1, кнопка #FFFFFF
Бэкграунд heroes + footer #2F303A;
Бэкграунд секции advantage #E5E5E5;
Бэкграунд секции team #F5F4FA
Footer rgba(255, 255, 255, 0.6)
*/

/* font-family: Raleway, sans-serif;
font-family: Roboto, sans-serif; */

/* ===== INDEX ===== */
/* ===== HEADER ====== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 92px;
}

.logo-web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-text-color);
}

/* ===== HERO ====== */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bg-title-color);
}

.hero-btn {
  padding: 8px 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--bg-title-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--bg-title-color);
  background-color: #188CE8;
  
}

.cursor-btn {
  cursor: pointer;
}


/* ===== ADVANTAGE ====== */
.advantage {
  background-color: var(--bg-title-color);
}

.advantage-list {
  display: flex;
}

.advantage-list .adv-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.advantage-list .adv-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adv-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ===== ABOUT US ====== */
.about-section {
  background-color: var(--bg-title-color);
  padding-bottom: 94px;
}

.about.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

/* ===== TEAM ====== */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team .content-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team .team-content {
padding-top: 30px;
padding-bottom: 30px;
}

.team .team-spec {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  
}

.team-list .item{
  width: 270px;
  background-color: var(--bg-title-color);
  margin-right: 30px;
}

.team-list .item:last-child {
  margin-right: 0;
}

/* ===== FOOTER ===== */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo-web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.footer .logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--bg-title-color);
}

.footer-list{
  margin-bottom: 9px;
}


.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bg-title-color);
  

}

.address:hover,
.address:focus {
  color: var(--accent-text-color);
}

.footer .special-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  
}

.footer .special-link:hover,
.footer .special-link:focus {
  color: var(--accent-text-color);
}


/* ====== PORTFOLIO PAGE ====== */
.portfolio{
  padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-filter {
  display: flex;
  justify-content:center;
  margin-bottom: 50px;
}

.btn-filter-item {
margin-right: 8px;
}

.btn-filter-item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}



.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--bg-title-color);
  background-color: var(--accent-text-color);
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ====== PORTFOLIO MAIN CONTENT ====== */

.portfolio-cards{
  display: flex;
  flex-wrap: wrap;

}

.cards-item {
width: 370px;
 margin-right: 30px;
 margin-bottom: 30px;  
background-color:var(--bg-title-color);
}

.cards-item:nth-child(3n) {
  margin-right: 0px;
  
}

.cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}


.cards-name {
 padding: 20px 24px;
border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  
}


